@font-face {
	font-family: 'OCR A Extended';
	src: url('OCRAEXT.TTF'); 
	src: 
		local('OCR A Extended'),
		local('OCR-A-Extended'),
		url('OCRAEXT.TTF') 
		format('truetype');
}

*{
	padding:0;
	margin:0;
}

body{
	font-family: 'OCR A Extended', sans-serif;
	font-size: 100%;
	color:#00FF00;
	background:#000000;
}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

.wrap{
	max-width: 600px;
	margin:50px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	background:#000000;
	border-radius:5px;
	border:#000000 1px solid;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}
